
@import "tailwindcss";

@theme {
  --color-primary: #f89720;
  --color-stardy-navy: #09254a;
  --color-background-light: #f8f7f5;
  --color-background-dark: #0a0a0a;
  --color-stardy-blue: #2181f9;
}

@layer base {
  body {
    @apply bg-background-light dark:bg-background-dark text-slate-900 dark:text-white transition-colors duration-300;
  }
}
